@model BeautiSoft.Models.Entidades.Venta
@{ Layout = null; }
<form method="post" asp-action="CrearVenta" class="bg-white rounded col-12" onsubmit="return jQueryAjaxPost(this, 'Crear Venta', '¿Desea crear la venta?')" autocomplete="off">
    <div class="form-group row">
        <div class="col">
            <select asp-items="@ViewBag.Documentos" asp-for="ClienteDocumento" class="form-control">
                <option disabled selected>Documento del cliente</option>
            </select>
            <span asp-validation-for="Cliente" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <select asp-items="@ViewBag.Productos" asp-for="ProductoID" class="form-control">
                <option disabled selected>Nombre del Producto</option>
            </select>
            <span asp-validation-for="Producto" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <input type="number" class="form-control" asp-for="Cantidad" placeholder="Cantidad Vendida">
        </div>
        <div class="col">
            <input type="number" class="form-control"asp-for="Precio" placeholder="Precio a Pagar">
        </div>
    </div>
    <input type="submit" class="btn btn-info" name="name" value="Registrar Venta" />
</form>