<form method="post" class="p-4 bg-white rounded col-6">
    <div class="form-group row">
        <div class="col">
            <input type="text" class="form-control" id="" name="" placeholder="Nombre Servicio">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <textarea class="form-control" placeholder="Detalle Servicio" rows="3" id=""></textarea>
        </div>
    </div>
    <input type="submit" class="btn btn-info btn-block" name="name" value="Crear Servicio" />
</form>
