@model BeautiSoft.Models.Entidades.Servicio

@{
    Layout = null;
}
<form method="post" asp-action="CrearServicio" class="bg-white rounded col-12" onsubmit="return jQueryAjaxPost(this, 'Crear Servicio', '¿Desea crear el Servicio?')" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <div class="col">
            <input asp-for="Nombre" class="form-control" placeholder="Nombre Servicio">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <textarea asp-for=Detalle class="form-control" placeholder="Detalle Servicio" rows="3" ></textarea>
            <span asp-validation-for="Detalle" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" class="btn btn-info btn-block" name="name" value="Registrar Servicio" />
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}