@model BeautiSoft.Models.Entidades.Servicio

@{
    Layout = null;
}
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>Nombre </th>
                    <th>Detalle</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ServicioID</td>
                    <td>@Model.Nombre</td>
                    <td>@Model.Detalle</td>
                    @if (@Model.Estado)
                    {
                        <td>Activo</td> }
                    else
                    {
                        <td>deshabilitado</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/tabla.js"></script>
}