@model BeautiSoft.Models.Entidades.Producto
@{
    Layout = null;
}
<form method="get" asp-action="CrearProducto" class="bg-white rounded " onsubmit="return jQueryAjaxPost(this, 'Crear Producto', '¿Desea crear el Producto?')">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <div class="col">
            <input asp-for="Nombre" class="form-control" placeholder="Nombre Producto">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row justify-content-between">
        <div class="col-5">
            <input asp-for="Precio" class="form-control" placeholder="Precio">
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>
        <div class="col-4">

            <input asp-for="Cantidad" class="form-control" placeholder="Cantidad">
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div>

        <div class="col-3">
            <label class="btn btn-danger w-100" for="img"><i class="fas fa-upload mr-2 text-white"></i>Imagen</label>
            <input type="file" id="img" class="d-none" />
        </div>

    </div>
    <input type="submit" class="btn btn-info" name="name" value="Registrar Producto" />
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
