@{ 
    Layout = null;
}
<form method="post" class="bg-white rounded col-12">
    <div class="form-group row">
        <div class="col">
            <input type="text" class="form-control" id="" name="" placeholder="Nombre Completo">
        </div>
        <div class="col">
            <input type="email" class="form-control" id="" name="" placeholder="Correo">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <input type="text" class="form-control" id="" name="" placeholder="Documento">
        </div>
        <div class="col">
            <select class="form-control">
                <option value="value">C.C</option>
                <option value="value">T.I</option>
            </select>
        </div>
        <div class="col">
            <input type="tel" class="form-control" id="" name="" placeholder="Telefono">
        </div>
       
    </div>
    <div class="form-group row">
        <div class="col">
            <input type="text" class="form-control" id="" name="" placeholder="Dirreccion">
        </div>
    </div>
    <input type="submit" class="btn btn-info" name="name" value="Crear Cliente"/>
</form>