<div class="row">
    <div class="col mt-3">
        <h3 class="text-danger">Clientes</h3>
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Celular</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jose julian</td>
                    <td>Jacome M</td>
                    <td>Jose@gamil.com</td>
                    <td>72828292927</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Antonio</td>
                    <td>Acosta M</td>
                    <td>antonio@gamil.com</td>
                    <td>72828292927</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Marlon</td>
                    <td>Acosta M</td>
                    <td>Antonio@gamil.com</td>
                    <td>72828292927</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Jose julian</td>
                    <td>Jacome M</td>
                    <td>Jose@gamil.com</td>
                    <td>72828292927</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Antonio</td>
                    <td>Acosta M</td>
                    <td>antonio@gamil.com</td>
                    <td>72828292927</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Marlon</td>
                    <td>Acosta M</td>
                    <td>Antonio@gamil.com</td>
                    <td>72828292927</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>

@section  Scripts{ 
    <script src="~/DataTable/tabla.js"></script>
}