<div class="row">
    <div class="col mt-3">
        <a asp-controller="Clientes"  asp-action="CrearCliente" class="btn btn-primary mb-3"><i class="fas fa-user-plus mr-2"></i>Crear Cliente</a>
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Tipo Documento</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Dirrecion</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jose julian jacome</td>
                    <td>1005441399</td>
                    <td>C.C</td>
                    <td>josejuliandlf@gmail.com</td>
                    <td>3152232388</td>
                    <td>Cr88 a16</td>
                    <td>Activo</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <i title="Editar" class="far fa-edit text-warning"></i>
                            <i title="Deshabilitar" class="fas fa-user-slash text-danger"></i>
                            <i title="Detalle" class="fas fa-book text-success"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Ali Alexander Rayo</td>
                    <td>100554672</td>
                    <td>C.C</td>
                    <td>Rayo@gmail.com</td>
                    <td>3152232388</td>
                    <td>Cr33 b18</td>
                    <td>Activo</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <i title="Editar" class="far fa-edit text-warning"></i>
                            <i title="Deshabilitar" class="fas fa-user-slash text-danger"></i>
                            <i title="Detalle" class="fas fa-book text-success"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Jose julian jacome</td>
                    <td>1005441399</td>
                    <td>C.C</td>
                    <td>josejuliandlf@gmail.com</td>
                    <td>3152232388</td>
                    <td>Cr88 a16</td>
                    <td>Activo</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <i title="Editar" class="far fa-edit text-warning"></i>
                            <i title="Deshabilitar" class="fas fa-user-slash text-danger"></i>
                            <i title="Detalle" class="fas fa-book text-success"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Ali Alexander Rayo</td>
                    <td>100554672</td>
                    <td>C.C</td>
                    <td>Rayo@gmail.com</td>
                    <td>3152232388</td>
                    <td>Cr33 b18</td>
                    <td>Activo</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <i title="Editar" class="far fa-edit text-warning"></i>
                            <i title="Deshabilitar" class="fas fa-user-slash text-danger"></i>
                            <i title="Detalle" class="fas fa-book text-success"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@section  Scripts{ 
    <script src="~/DataTable/tabla.js"></script>
}